<!DOCTYPE html>
<html>
<head>
  <title>ActiveRecordVisualize</title>
  <%= stylesheet_link_tag    "active_record_visualize/viewer", media: "all" %>
  <%= javascript_include_tag "active_record_visualize/viewer" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
